{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block body %}
	<form method="post">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{% if app.user %}
			<div class="mb-3">
				Vous êtes connecté en tant que
				{{ app.user.userIdentifier }},
				<a href="{{ path('app_logout') }}">Déconnexion</a>
			</div>
		{% endif %}

		<div class="container">
			<div class="row justify-content-center" >
				<div class="col-md-4" style="margin-top: 10%" >
					<h2 class="mb-3 font-weight-normal text-center">Connexion</h2>
					<label for="inputEmail">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" autocomplete="email" required autofocus>

					{# <label for="pseudo">Pseudo</label>
					<input type="pseudo" name="pseudo" id="pseudo" class="form-control" autocomplete="pseudo" required> #}
					<br>
					<label for="inputPassword">Mot de passe</label>
					<input type="password" name="password" id="inputPassword" class="form-control" autocomplete="current-password" required>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<br>
					<button class="btn btn-lg btn-primary text-center" type="submit">
						Se connecter
					</button>
				</div>
			</div>
		</div>

	</form>
{% endblock %}
