{% extends 'base.html.twig' %}

{% block title %}Register
{% endblock %}

{% block body %}
	{# <h1>Register</h1>
												
												    
												
												    
												        
												        {{ form_row(registrationForm.plainPassword, {
												            label: 'Password'
												        }) }}
												
												        <button type="submit" class="btn">Register</button>
												     #}

	<div class="container ">
		{{ form_start(registrationForm) }}
		<main>
			<div class="py-5 text-center ">
				<img class="d-block mx-auto mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
				<h2>Inscription</h2>
				<p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>
			</div>

			<div class="row g-5 justify-content-center">
				<div class="col-md-4">
					<div class="row g-3">
						<div class="col-sm-6">
							{{ form_row(registrationForm.prenom, {
                                label: 'Prénom'
                            }) }}
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

						<div class="col-sm-6">
							{{ form_row(registrationForm.nom, {
                                label: 'Nom'
                            }) }}
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_row(registrationForm.civilite, {
                                label: 'Civilité'
                            }) }}
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_row(registrationForm.pseudo, {
                                label: 'Pseudo'
                            }) }}
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

                        <div class="col-sm-12">
							{{ form_row(registrationForm.email, {
                                label: 'Email'
                            }) }}
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

						<div class="col-sm-12">
							{{ form_row(registrationForm.plainPassword, {
                                label: 'Mot de passe'
                            }) }}
                        
							<div class="invalid-feedback">
								{{ form_errors(registrationForm) }}
							</div>
						</div>

						<hr class="my-4">
						<button type="submit" class="btn btn-primary">S'inscrire</button>
					</div>
				</div>
			</main>
			{{ form_end(registrationForm) }}

            <br class="my-4">
            <br class="my-4">
            <br class="my-4">
            <br class="my-4">
		</div>
	{% endblock %}
