<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}

            {# bootswatch #}
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootswatch/5.3.0/cerulean/bootstrap.min.css" integrity="sha512-PAOyjTswfBAZ1fUNWJ8Ct+5DJCTncB+7cLhppp88N9GCF7lZ4AIDmVTKVQFYIVZwH5Y0KAP/16+lsyFmhbc4Tg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
            {# bootstrap #}
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
		
			{# Template for Inscription page #}
			<link href="../../assets/dist/css/page.inscription.css" rel="stylesheet">
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
		
			{# Template for Inscription page #}
			<script src="../../assets/dist/js/page.inscription.js"></script>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="light">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">Vet.com</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarColor03">
					<ul class="navbar-nav me-auto">
						<li class="nav-item">
							<a class="nav-link active" href="#">Accueil
								<span class="visually-hidden">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_product') }}">Produits</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Commandes</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Membres</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">Mon compte</a>
						</li>   
                        <li class="nav-item">
							<a class="nav-link" href="{{ path('app_cart') }}">Panier</a>
						</li>
					</ul>
					<form class="d-flex">
						<input class="form-control me-sm-2" type="search" placeholder="Search">
						<button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
					</form>
				</div>
			</div>
		</nav>
		{% block body %}{% endblock %}
	</body>
</html>
